/* VARIÁVEIS E RESETS */

:root {
    --preto: #131313;
    --branco: #fefefe;
    --cinza-escuro: #1e1e1e;
    --cinza-claro: #f7f7f7;
    --font-text: "Crimson Text", serif;;
    --font-titulos: "Crimson Pro", serif;;
    --font-alternativa: "Onest";
    --font-size: 1.1rem;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6, p  {
    font-weight: normal;
    color: var(--preto);
    font-family: var(--font-text);
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: var(--preto);
}

li {
    list-style: none;
}

body {
    background-color: var(--branco);
}

::selection {
    background: pink; 
    color: var(--branco);
}

/* FORMATO PÁGINAS */

.page {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 1.5625rem;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    overflow-y: auto;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

@media (max-width: 480px) {
    .page {
        max-width: 100%; 
        padding: 1.5625rem; 
    }
}

@media (min-width: 481px) {
    .page {
        max-width: 400px; 
    }
}

/* CAPA */

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.cover .capa {
    object-position: center; 
    height: 100%; 
    width: auto;
    overflow: hidden;
}

.cover_titulo {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    color: var(--branco);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -6.2rem;
    font-family: var(--font-tituloss);
}

.cover_nome_autor {
    position: absolute;
    top: 5.5rem;
    font-weight: bold;
    color: var(--branco);
    font-family: var(--font-text);
}

.cover_logo_editora {
    position: absolute;
    bottom: 20%;
}

/* INFOS::FOLHA DE ROSTO */

.info {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.info_nome_autor {
    font-weight: bold;
    margin-top: 5rem;
}

.info_titulo_livro {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
}

/* CAPÍTULOS */

.chapter_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
    margin: 4rem 0.8rem 2rem;
}

.chapter_title {
    font-family: var(--font-titulos);
    font-weight: 700;
    color: var(--preto);
    text-align: center;
    font-optical-sizing: auto;
}

.chapter_subtitle {
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-alternativa);
    color: var(--cinza-escuro);
    
}

.chapter_content {
    display: flex;
    flex-direction: column;
}

.chapter_text {
    color: var(--preto);
    text-align: justify;
    text-indent: 1.5rem;
    font-family: var(--font-text);
    width: 100%;
    margin-bottom: 0.3rem;
}

/* Margem sem margem (padrão) */
.chapter_content .sem-margem{
    margin: 0;
  }
  
  
  /* Margem média */
  .margin-medium .chapter_content {
    margin: 1rem;
  }
  
  /* Margem grande */
  .margin-large .chapter_content {
    margin: 2rem;
  }
  
  label.ajust-option {
    cursor: pointer;
    margin-left: 0.5rem; /* Para separar do input, se necessário */
  }
   /* Tamanhos compacto */
.font-compact .chapter_text {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.font-compact .chapter_title {
    font-size: 1.2rem;
}

.font-compact .chapter_subtitle {
    font-size: 0.65rem;
}

/* Tamanhos padrão (atual "normal") */
.chapter_text {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.chapter_title {
    font-size: 1.5rem;
}

.chapter_subtitle {
    font-size: 0.75rem;
}

/* Tamanhos grandes */
.font-large .chapter_text {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-large .chapter_title {
    font-size: 1.8rem;
}

.font-large .chapter_subtitle {
    font-size: 1rem;
}


    .chapter_text_space {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    .chapter_text_italic {
        font-style: italic;
    }

    .chapter_text_bold {
        font-style: bold;
    }

    .chapter_text_cit {
        color: var(--preto);
        text-align: justify;
        padding-left: 1.5rem;
        font-family: var(--font-text);
        width: 100%;
        margin-bottom: 0.3rem;
    }

/* MENU */

.navigation {
    position: fixed;
    width: 100%;
    bottom: 1.25rem;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    transition: transform 0.3s ease; 
    }

.navigation button {
    background-color: var(--preto);
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 100%;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; 
    }

.navigation button img {
    width: 0.875rem;
}

.additional-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateX(-20px); 
    pointer-events: none;
    position: absolute;
    visibility: hidden;
}

.additional-buttons.visible {
    opacity: 1;
    transform: translateX(0); 
    pointer-events: auto;
    visibility: visible;
    position: static;
}

.navigation.show-extra-buttons {
    transform: translateX(-50%) translateX(-3px);
}

/* MENU CABEÇALHO */

.header {
    background-color: var(--preto);
    position: fixed;
    top: -45px; 
    width: 100%;
    max-width: 500px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--branco);
    padding: 0 1.5625rem;
    transition: top 0.3s ease, opacity 0.3s ease; 
    z-index: 1000; 
    opacity: 0; 
}

.header.visible {
    top: 0; 
    opacity: 1; 
}

.header div {
    display: flex;
    gap: 0.625rem;
}

.header button {
    background-color: transparent;
    color: var(--branco);
    cursor: pointer; 
    border: none;
}

.header_titulo {
    color: var(--branco);
    font-size: 0.65rem;
    text-transform: uppercase;
    font-family: var(--font-alternativa);
    font-weight: 500;
}

/* MENU CONFIGURAÇÕES */

.menu-config {
    position: fixed;
    background-color: var(--preto);
    width: 100%;
    max-width: 500px;
    margin-left: -1.5625rem;
    bottom: -100%; 
    padding: 0.5rem 3rem 4.8rem 3rem;
    display: flex;
    flex-direction: column;
    transition: bottom 0.3s ease, opacity 0.3s ease; 
    z-index: 999; 
    opacity: 0; 
}

.musi {
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu-config.visible {
    bottom: 0; 
    opacity: 1; 
}

.menu-config p {
    color: var(--branco);
    font-family: var(--font-alternativa);
    padding-bottom: 0.4rem;
    text-transform: uppercase;
    font-size: 0.65rem;
}

.menu-config .op {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: solid 0.1rem var(--cinza-escuro);
}

.menu-config .ap {
    display: flex;
    padding: 0.3rem;
    flex-direction: row;
    justify-content: space-around;
}

.menu-config .ap label {
    font-family: var(--font-text);
}

/* BARRA PROGRESSO */

.footer {
    position: fixed;
    background-color: var(--branco);
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.progress-bar {
    flex: 1;
    height: 0.3rem;
    background-color: var(--cinza-claro);
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.2s ease-in-out;
}

/* SUMÁRIO */

.page .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    margin-top: 2rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.625rem 1.2rem;
    padding-right: 3rem;
    border-radius: 0.3125rem;
    background-color: var(--cinza-claro);
}

.menu-index {
    width: 0.8rem;
    text-align: center;
    font-family: var(--font-text);
    font-size: 0.8rem;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 1rem;
}



.navigation {
    margin-top: 1.5625rem;
}


/* MODO NOTURNO */ 

body.dark-mode {
    background-color: var(--preto);
    .chapter_text, 
    .chapter_subtitle, 
    .chapter_title,
    .info_titulo_livro,
    .info_nome_autor,
    .menu-index,
    .menu-button {
        color: var(--branco);
    }
    .header,
    .navigation button,
    .menu-item {
        background-color: var(--cinza-escuro);
    }
}
